.header {
  position: relative;
  z-index: 1;
  //   outline: 1px solid red;
  height: auto;
}
.header-nav {
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.nav-logo-container {
  align-items: center;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.014;
  letter-spacing: 0.16em;
}
.con-log {
  display: flex;
}
.u-title {
  font-family: "Shadows Into Light", cursive;
  color: rgb(255, 225, 0);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.13em;
}
.a-title {
  font-family: "Shadows Into Light", cursive;
  color: rgb(40, 133, 255);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.13em;
}
.nav-pages {
  display: flex;
  justify-content: space-around;
  width: 400px;
  padding: 0;
  margin: 0px;
  align-items: center;
}
.nav-pages-item {
  height: 50px;
  font-family: "Comfortaa", cursive;
  color: rgb(143, 113, 113);
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.03em;
}
.nead-contacts {
  display: flex;
}
.nav-contacts {
  margin: 0px;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-contact-mail {
  margin: 0px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 45px;
}
.contact-name {
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 8px;
  color: rgb(73, 18, 18);
}
.item-tel-mts {
  display: flex;
  align-items: center;
  color: rgb(143, 113, 113);
  margin-bottom: 10px;
}
.item-tel-life {
  display: flex;
  align-items: center;
  color: rgb(143, 113, 113);
}
.item-mail {
  display: flex;
  align-items: center;
  // font-family: "Comfortaa", cursive;
  font-size: 20px;
  // color: rgb(143, 113, 113);
}
.item-svg {
  margin-right: 8px;
}
.fff {
  margin-top: 3px;
}
.hover {
  color: rgb(143, 113, 113);
  fill: rgb(143, 113, 113);
  // text-shadow: 1px 8px 7px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.hover:hover,
.hover:focus {
  fill: rgb(64, 61, 255);
  color: rgb(89, 82, 233);
  text-shadow: 0px 8px 12px rgba(153, 0, 0, 0.75);
  transition: text-shadow 0.4s;
}
.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // vertical-align: middle;
}
.sad {
  fill: rgb(143, 113, 113);
  vertical-align: middle;
}
.text-lang {
  // font-family: "Comfortaa", cursive;
  color: rgb(143, 113, 113);
  line-height: 1.4;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
