.hero {
  // width: 100%;
  // height: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/hero/hero1200.png);
  background-size: 2000px 100%;
  background-position: center;
}
.hero-title {
  padding-top: 40px;
  margin-bottom: 0px;
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  font-weight: 700;
  color: #875b45;
  margin-top: -15px;
  letter-spacing: 0em;
  text-shadow: 0px 4px 12px rgb(160, 104, 44);
}
.hero-title2 {
  padding-top: 40px;
  font-family: "Comfortaa", cursive;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #ff7c3b;
  margin-top: -15px;
  letter-spacing: 0em;
  text-shadow: 0px 4px 12px rgb(255, 145, 28);
}
.container-items-order {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}
.first-wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.second-wrap {
  margin-left: -100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title-over-prod {
  opacity: 10%;
}
.title-over-prod:hover {
  opacity: 100%;
}
.product-link {
  // margin: 10px;
  width: 221px;
  height: 221px;
  border-radius: 50%;
  opacity: 70%;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
  border: 20px solid rgba(248, 176, 21, 0.1);
  transition: border, opacity 0.5s;
  // transition: box-shadow 0.5s;
}
.footerimg {
  width: 500px;
  height: 300px;
  border-radius: 30%;
  opacity: 70%;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
  border: 20px solid rgba(248, 176, 21, 0.1);
  transition: border, opacity 0.5s;
}
.sec {
  margin-top: 30px;
  width: 221px;
  height: 221px;
  margin-bottom: 20px;
  border-radius: 30%;
  opacity: 70%;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
  border: 20px solid rgba(248, 176, 21, 0.1);
  transition: border, opacity 0.5s;
}
.product-link:hover {
  opacity: 90%;
  border: 0px solid rgba(248, 176, 21, 0.1);
  transition: border, 0.5s;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
}
.hero-items {
  text-align: center;
}
.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) saturate(120%) contrast(100%);
}
.titleh3 {
  width: 211px;
  border-radius: 10%;
  font-size: 18px;
  margin: 0;
  color: #704936;
  text-shadow: 0px 4px 12px #a0682c;
  background-color: rgba(255, 255, 255, 0.356);
}
.about {
  width: 211px;
  margin: 0;
  border-radius: 30%;
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0.459);
}
.aboutTitle {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.price {
  text-decoration: line-through;
}
