:root {
  // --text-font: "Roboto", sans-serif;
  // --title-font: Raleway;
  --mostly-used-color: #212121;
  --first-blue-word: #2196f3;
  --links-header: #757575;
  --navigation-link-focus: #2196f3;
  --hero-footer-background: #2f303a;
  --paragraph-text: #757575;
  --claer-white: #ffffff;
  --img-color: #afb1b8;
  --time-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
